<h2>{{vm.titulo}}</h2>
<form name="formVenda">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Data Emissão</label>
            <input required ng-model="vm.venda.emissao" type="date" class="form-control">
        </div>
        <div class="form-group col-md-8">
            <label>Cliente</label>
           
            <input required ng-model="vm.venda.cliente" type="text" class="form-control"
                ng-keyup="vm.buscaClientes(vm.venda.cliente)">
            <ul class="list-group" style="z-index:1006; position: absolute; width: 95%" ng-model="vm.hideListCliente"
                ng-hide="vm.hideListCliente">
                <li class="list-group-item" ng-repeat="cliente in vm.clientesFiltrados"
                    ng-click="vm.setClienteSelecionado(cliente)">{{cliente.nome}}</li>
            </ul>
        </div>
        <div class="form-group col-md-8">
            <label>Produto</label>
            <input required ng-model="vm.produtoSelecionado.descricao" type="text" class="form-control"
                ng-keyup="vm.buscaProdutos(vm.produtoSelecionado.descricao)">
            <ul class="list-group" style="z-index:1006; position: absolute; width: 95%" ng-model="vm.hideListProduto"
                ng-hide="vm.hideListProduto">
                <li class="list-group-item" ng-repeat="produto in vm.produtosFiltrados"
                    ng-click="vm.setProdutoSelecionado(produto)">{{produto.descricao}}</li>
            </ul>
        </div>
        <div class="form-group col-md-2">
            <label>Preço</label>
            <input name="preco" ng-class="{false: 'is-invalid', true: 'is-valid'}[formVenda.preco.$valid]" placeholder="0.00"  pattern="^\d+(?:\.\d{1,2})?$" ng-model="vm.produtoSelecionado.preco" type="text" class="form-control">
            
        </div>
        <div class="form-group col-md-1">
            <label>Quantidade</label>
            <input  ng-model="vm.produtoSelecionado.quantidade" type="text" class="form-control">
        </div>
    </div>

    <div class="btn-toolbar mb-2 mb-md-0">
        <a ng-click="vm.addProdutoVenda(vm.produtoSelecionado)" class="btn btn-sm btn-outline-success">
            <span class="fas fa-plus-square"></span>
            Adicinar item
        </a>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Valor R$</th>
                    <th>Total R$</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="itemVenda in vm.venda.itens">                  
                    <td>{{itemVenda.descricao}}</td>
                    <td>{{itemVenda.quantidade}}</td>
                    <td>{{itemVenda.preco}}</td>
                    <td>{{vm.somaTotal(itemVenda.preco, itemVenda.quantidade)}}</td>                    
                    <td class="text-right">
                        <a href="#" ng-click="vm.removeProduto($index)"><span class="fas fa-trash-alt"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button ng-disabled="!formVenda.$valid" ng-click="vm.save()" type="button" class="btn btn-primary">Salvar</button>
    <button ui-sref="vendaList" type="button"
        class="btn">Voltar</button>
</form>