<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Venda</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a ui-sref="vendaNovo" class="btn btn-sm btn-outline-success">
            <span class="fas fa-plus-square"></span>
            Nova Venda
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Emissão</th>
                <th>Cliente</th>
                <th>Total da venda (R$)</th>               
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="venda in vm.venda">
                <td>{{ venda.emissao | date: 'dd/MM/yyyy' }}</td>
                <td>{{venda.cliente}}</td>
                <td>{{vm.somarItensVenda(venda.itens)  | currency : ''}}</td>                
                <td class="text-right">
                    <a ui-sref="vendaEditar({id:venda._id})"><span class="fas fa-edit"></span></a>
                    <a href="#" ng-click="vm.excluir(venda._id)"><span class="fas fa-trash-alt"></span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>